<!DOCTYPE html>

<html lang="ro">

  <head>
    <title>Ce este iubirea?</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>

  <body>
    <a class="active" href="../Pasul 7/pasul7.html" target="_blank">Pagina Principală</a>
		<a href="../Pasul 1/pasul1.html" target="_blank">Pasul 1</a>
		<a href="../Pasul 2/pasul2.html" target="_blank">Pasul 2</a>
		<a href="../Pasul 3/pasul3.html" target="_blank">Pasul 3</a>
		<a href="../Pasul 4/pasul4.html" target="_blank">Pasul 4</a>
		<a href="../Pasul 5/pasul5.html" target="_blank">Pasul 5</a>
    <a href="../Pasul 6/pasul6.html" target="_blank">Pasul 6</a>
    <a href="http://localhost/PHPLaborator/Components/Pasul%208/pasul8.php" target="_blank">Database</a>
    <h1>
      CE ESTE IUBIREA: 10 RĂSPUNSURI POSIBILE
    </h1>
    <h2>Câteva teorii și explicații pentru cea mai copleșitoare emoție din lume.</h2>
    <p>
      Iubirea cu greu poate fi definită în cuvinte, cu toate acestea, nu ne putem opri din a căuta definiții, răspunsuri sau povești care să ne amintească, 
      incă o dată, că ea există, e acolo, am trait-o și o putem trăi indiferent de vârstă, moment, că suntem sau nu suntem pregătite. 
    </p>
    <h3>Ce este iubirea? Realitate, vis...speranță</h3>
    <ol>
      <li><q><strong>Iubirea este cea mai frumoasă muzică din partitura vieții. Fără ea, ai fi un etern afon în corul imens al omenirii.</strong></q>- Roque Schneider</li>
      <p>
        Ce este iubirea? Atunci când iubești în sufletul tău are loc o revoltă, deoarece a cunoaște sufletul altcuiva inseamnă, în primul rând, să-l lași să 
        ajungă la sufletul tău. Să te deschizi, să devii total vulnerabilă, să dai la o parte veșmântul protector și să rămâi goală...fără nici un artificiu. Și 
        este riscant, ah...al naibii de riscant pentru ca nu știi niciodată ce se va putea întâmpla, ce va decide el să faca după ce iți va cunoaște toate 
        ascunzișurile și toate trăirile. Iubirea nu apare niciodată unde, când crezi și iți dorești tu. Ea se naște într-un sărut, într-un zâmbet, într-o 
        privire arzătoare, într-o îmbrățișare plină de promisiuni...iar din acel moment, sufletul tău nu iți mai aparține.
      </p>
      <li><q><strong>Iubirea este un sărut furat, un zâmbet inocent, o îmbrățișare pătimașă...și un suflet smuls din piept...</strong></q>- Octavian Paler</li><br>
      <li><q><strong>Iubirea înseamnă chimie.</strong></q>- Jim Al-Khalili (fizician)</li>
      <p>
        Iubirea este o condiție biologică foarte puternică, la fel ca foamea sau setea, doar că mai permanentă, nu o putem controla, o putem doar stăpâni 
        oferindu-i ce are nevoie. În timp ce pofta sau atracția sexuală implică o dorință pasională temporară prin care eliberăm substanțe chimice precum 
        estrogenul și testosteronul, când vorbim de iubire adevarată creierul eliberează un set întreg de substanțe chimice precum: feromoni, dopamină, 
        serotonină, oxitocină și vasopresină. Acești hormoni pot lega pe viață doi oameni și îi pot face să se îndrăgostească iremediabil. Cu cât atracția 
        și “potrivirea fizică” este mai mare cu atât dragostea devine mai puternică.
      </p>
      <li><q><strong>Dar ce poate însemna o iubire? Cât poate ea dura? Nimic nu durează în lumea asta; totul trece, totul se preface, totul moare ca să se nască 
        din nou, altfel, în altă parte, cu alți oameni.</strong></q>- Mircea Eliade</li><br>
      <li><q><strong>Iubirea este singura care te determină să te schimbi, să îl pui pe celălalt înaintea ta și să trăiești prin el, nu prin tine. Iubirea te 
        face să renunți la ego-ul tău și este singura care din doi face unu.</strong></q>- Chris Simion</li>
      <p>
        Iubirea nu o întâlnești într-un singur loc, într-o singură persoană și o singură dată. Atâta timp cât nu încetezi să crezi, să te deschizi să vezi 
        dincolo de suferință și de frică, iubirea te va găsi. Ea te schimbă, te face să crești, să te cunoști mai bine și să știi ce iți dorești cu adevărat. 
        Nu cred că poți să iubești în adolescență la fel cum iubești la maturitate, pentru că atât noi, cât și sufletele noastre evoluează, cresc, se transformă. 
        De-a lungul vieții ai mai multe iubiri care te reprezintă pe tine, așa cum ești în diferite momente ale tale. Iubirea poate să fie o nebunie copilăreasca 
        ce te face să cânți și să râzi de fericire din orice, poate să fie încredere, confort și sentimentul de siguranță, poate să fie pasiunea care te devorează 
        pe dinăuntru evoluând într-o durere care te purifică sau poate să fie o pace interioară și o liniște nemarginită care iți spune că lângă acel om e locul 
        tău și căutarea ta s-a încheiat.
      </p>
      <li><q><strong>Iubirea este arhitectul universului.</strong></q>- Hesiod</li><br>
      <li><q><strong>Iubirea este întregul înțeles al vieții și existenței noastre. Este iubirea pentru familie, pentru copii, pentru patria-mamă. Acest fenomen 
        este complicat, dar se află in centrul tuturor acțiunilor noastre.</strong></q>- Vladimir Putin</li>
      <p>
        Ce este iubirea? În primul rând nu un singur lucru și nu o dăruiești unei singure persoane. Dragostea pentru părinți, partener, prieteni, copii, țară 
        sau Dumnezeu toate au calități și trăiri diferite. Iubirea este motorul care pornește lumea și fiecare dragoste are variantele sale, fie că este oarbă, 
        reciprocă, tragică, statornică, gresită, înălțătoare sau necondiționată.
      </p>
      <li><q><strong>Iubirea este o poveste străveche, dar care este întotdeauna nouă.</strong></q>- Heinrich Heine</li><br>
      <li><q><strong>Iubirea este o floare foarte placută, dar trebuie să ai curajul să te duci s-o culegi de pe marginile unei prăpastii înfricoșătoare.</strong></q>- Stendhal</li>
      <p>
        Ar trebui să învațăm să profităm de fiecare stare pe care ne-o provoacă iubirea, să vedem decepțiile ca experiențe și așa cum spunea Alain de Botton: 
        <q>Dragostea trebuie apreciată fără a cădea în optimism sau pesimism dogmatic, fără a-ți construi o filozofie din propriile temeri sau o morală din 
        propriile dezamăgiri</q>. Cred că iubirea de viață reprezintă sursa de inspirație pentru celelalte forme ale iubirii. Cand nu esti impăcat cu tine insăți, 
        când nu te iubești în primul rând tu, nu ai cum să dăruiești.
      </p>
      <li><q><strong>Iubirea este orbire.</strong></q>- Jack White</li>
      <p>
        Este titlul unei melodii superbe de pe coloana sonoră a filmului <cite>Marele Gatsby</cite>. Film care spune povestea unei iubiri tragice și înșelătoare. 
        Pentru că da....iubirea este oarbă, te face să visezi cu ochii deschiși în timp ce iți acoperă mintea cu un val de speranțe și vise. Te face să crezi 
        că esti cea mai puternică ți nimic nu poate să mai stea in calea ta și a iubirii tale, te face să-ți întorci privirea și să nu iei în seamă nici un semn 
        care preveșteste tragedia, să crezi că nimic rău nu ți se poate întâmpla ție. Și când ajungi la apogeul acestor credințe, dispare în noapte precum o 
        fiară vicleană și răpace care și-a eliminat prada. Atunci e momentul în care iei liftul și cobori în infernul sufletului tău și iți descoperi demonii 
        interiori, fiecare suferintă naște întrebări, iar dacă dorința de a te ridica și de a învinge este suficient de mare, vei ajunge la iubirea adevarată 
        și vei înțelege ce este ea și cine ești tu.
      </p>
    </ol>
  </body>
</html>