<!DOCTYPE html>
<html lang="ro">
  <head>
    <title>Ce este iubirea?</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="pasul4.css">
  </head>
  <body>
    
    <a class="active" href="../Pasul 7/pasul7.html" target="_blank">Pagina Principală</a>
		<a href="../Pasul 1/pasul1.html" target="_blank">Pasul 1</a>
		<a href="../Pasul 2/pasul2.html" target="_blank">Pasul 2</a>
		<a href="../Pasul 3/pasul3.html" target="_blank">Pasul 3</a>
		<a href="../Pasul 4/pasul4.html" target="_blank">Pasul 4</a>
		<a href="../Pasul 5/pasul5.html" target="_blank">Pasul 5</a>
    <a href="../Pasul 6/pasul6.html" target="_blank">Pasul 6</a>
    <a href="http://localhost/PHPLaborator/Components/Pasul%208/pasul8.php" target="_blank">Database</a>
    
    <table style="width:40%">
      <tr>
        <th>Link-uri spre paginile HTML</th>
        <th>Link-uri utile</th> 
      </tr>
      <tr>
        <td><a href="../Pasul 1/pasul1.html" target="_blank">Pasul 1</a></td>
        <td><a href="https://www.facebook.com/tataru.21/" target="_blank"><img src="../Pasul 4/Poze/Facebook.png"></a></td>
      </tr>
      <tr>
        <td><a href="../Pasul 2/pasul2.html" target="_blank">Pasul 2</a></td>
        <td><a href="https://www.instagram.com/d.e.n.t.e.l.l.e/?hl=ro" target="_blank"><img src="../Pasul 4/Poze/Instagram.png"></a></td>
      </tr>
      <tr>
        <td><a href="../Pasul 3/pasul3.html" target="_blank">Pasul 3</a></td>
          <td><a href="https://www.youtube.com/channel/UCp50XyAaWxkr8q02xqsKDDw?view_as=subscriber" target="_blank"><img src="../Pasul 4/Poze/YouTube.png"></a></td>
      </tr>
      <tr>
        <td><a href="../Pasul 4/pasul4.html" target="_blank">Pasul 4</a></td>
          <td><a href="https://www.w3schools.com/" target="_blank"><img src="../Pasul 4/Poze/W3S.png"></a></td>
      </tr>
      <tr>
        <td><a href="../Pasul 5/pasul5.html" target="_blank">Pasul 5</a></td>
          <td><a href="https://en.wikipedia.org/wiki/HTML" target="_blank"><img src="../Pasul 4/Poze/Wikipedia.png"></a></td>
      </tr>
      <tr>
        <td><a href="../Pasul 6/pasul6.html" target="_blank">Pasul 6</a></td>
          <td><a href="https://html.com/" target="_blank"><img src="../Pasul 4/Poze/HTML.png"></a></td>
      </tr>
      <tr>
        <td><a href="../Pasul 7/pasul7.html" target="_blank">Pasul 7</a></td>
          <td><a href="https://www.w3.org/Style/CSS/Overview.en.html" target="_blank"><img src="../Pasul 4/Poze/CSS.png" ></a></td>
      </tr>
    </table>
  </body>
</html>
